/*
* ACME Sports Stylesheets
* Everything will be included here as it's a one page site
*/

// Variables

// A map of breakpoints.
$breakpoints: (
	sm: 36rem,
	md: 48rem,
	lg: 64rem,
	xl: 80rem,
);

// Colors
$blue: #33415C;
$blue-light: #F5F9FF;
$gray: #333;

// Spacing Variables
$padding-sm: 1rem;
$padding-md: 1.5rem;


// Mixins
@mixin font-red-hat-display {
	font-family: 'Red Hat Display', 'sans-serif';
	font-weight: bold;
	font-style: italic;
}

@mixin respond-above($breakpoint) {

	// If the breakpoint exists in the map.
	@if map-has-key($breakpoints, $breakpoint) {

		// Get the breakpoint value.
		$breakpoint-value: map-get($breakpoints, $breakpoint);

		// Write the media query.
		@media (min-width: $breakpoint-value) {
			@content;
		}

		// If the breakpoint doesn't exist in the map.
	} @else {

		// Log a warning.
		@warn 'Invalid breakpoint: #{$breakpoint}.';
	}
}


// Fonts
.font-red-hat-display {
	@include font-red-hat-display;
}

// Utility
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.sr-only-focusable {
	&:active,
	&:focus {
		position: static;
		width: auto;
		height: auto;
		overflow: visible;
		clip: auto;
		white-space: normal;
	}
}

// Main Template
*, *:before, *:after {
	box-sizing: border-box;
}

* {
	transition: 0.25s ease-in-out outline, 0.25s ease-in-out box-shadow;
	outline: none;
	box-shadow: none;

	&:focus {
		outline: currentcolor none medium;
		transition: box-shadow 0.2s ease 0s;
		box-shadow: rgba(255, 255, 255, 0.8) 0 0 0 0.125rem, rgb(34, 34, 34) 0 0 0 0.25rem;
	}
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $blue;
	letter-spacing: 0.05em;
}

.container {
	max-width: 80rem - $padding-sm * 2;
	margin: auto;
	padding: 0 $padding-sm * 2;

	@include respond-above(lg) {
		max-width: 80rem - $padding-md * 2;
		padding:  0 $padding-md * 2;
	}
}

.skip-link:focus {
	position: absolute;
	z-index: 10;
	left: 0.625rem;
	top: 0.625rem;
}

.link {
	display: inline-block;
	background: $blue;
	border: 0.125rem solid transparent;
	color: white;
	padding: 0.625rem 1.875rem;
	letter-spacing: 0.05em;
	text-decoration: none;
	border-radius: 0.3125rem;
	font-size: 1.125rem;
	text-transform: uppercase;
	transition: 0.25s ease-in-out all;

	&:hover {
		border: 0.125rem solid $blue;
		color: $blue;
		background: transparent;
	}
}

// Colors
.color-blue {
	color: $blue;
}

.background-blue {
	background: $blue;
}

.color-blue-light {
	color: $blue-light;
}

.background-blue-light {
	background: $blue-light;
}

.color-gray{
	color: $gray;
}

.box {
	border: 0.0625rem solid $blue;
	background: white;
	border-radius: 0.3125rem;
}

// Forms
label,
.legend {
	width: 100%;
	display: block;
	text-transform: uppercase;
	margin-bottom: 0.3125rem;
}

.input-select {
	position: relative;

	select {
		appearance: none;
		outline: none;
		padding: 0 3.125rem 0 1.25rem;
		height: 3.375rem;
		width: 100%;
	}

	&:after {
		content: '';
		position: absolute;
		top: 50%;
		right: $padding-md;
		transform: translateY(-50%) rotate(45deg);
		height: 0.625rem;
		width: 0.625rem;
		border-style: solid;
		border-color: $blue;
		border-width: 0 0.1875rem 0.1875rem 0;
		transition: border-width 150ms ease-in-out;
		pointer-events: none;
	}
}

.input-radio {
	display: inline-flex;
	align-items: center;
	position: relative;

	+ .input-radio {
		margin-left: 1.25rem;
	}

	input[type='radio'] {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		height: 100%;

		&:focus + .input-radio__circle:before,
		&:hover + .input-radio__circle:before,
		&:checked + .input-radio__circle:after {
			opacity: 1;
			transform: scale(1);
		}
	}

	// Outer ring
	&__circle {
		position: relative;
		display: inline-block;
		border: 0.125rem solid $blue;
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 100%;
		margin-right: 0.625rem;
		background: white;

		&:before,
		&:after {
			content: '';
			position: absolute;
			border-radius: 100%;
			opacity: 0;
			transform-origin: center;
			transform: scale(0);
			transition: 0.25s ease-in-out transform;
		}

		&:before {
			top: -0.625rem;
			right: -0.625rem;
			bottom: -0.625rem;
			left: -0.625rem;
			background: rgba($blue, 0.2);
		}

		&:after {
			left: 0.25rem;
			top: 0.25rem;
			width: 0.75rem;
			height: 0.75rem;
			background: $blue;
		}
	}
}

fieldset {
	border: 0;
}

// Flow
.flow-vertical {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -#{$padding-sm};

	@include respond-above(lg) {
		margin: 0 -#{$padding-md};
	}

	> * {
		padding: 0 $padding-sm;
		margin-bottom: $padding-sm * 2;

		@include respond-above(lg) {
			padding: 0 $padding-md;
			margin-bottom: $padding-md * 2;
		}
	}
}

// Header
.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 0.625rem 0;

	&__wrapper {
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		font-size: 2.25rem;
		color: $blue;
		text-decoration: none;
		white-space: nowrap;

		@include respond-above(lg) {
			font-size: 2.625rem;
		}
	}
}

// Start Main Content

// Hero
.hero {
	padding: 11.25rem 0 6.25rem;

	&__wrapper {
		align-items: center;
		justify-content: center;

		& > * {
			max-width: 48rem;
		}
	}

	&__content {
		flex-basis: 31.25rem;
		flex-grow: 1;
	}

	&__title {
		font-size: 1.8rem;

		@include respond-above(lg) {
			font-size: 3rem;
		}
	}

	&__intro {
		font-size: 1.125rem;

		@include respond-above(lg) {
			font-size: 1.5rem;
		}
	}

	&__image {
		min-width: 31.25rem;
		flex-basis: 0;
		flex-grow: 999;

		> img {
			width: 100%;
			height: auto;
		}
	}
}

.filters {
	display: flex;
	flex-wrap: wrap;

	&__item {
		flex: 1;
		flex-wrap: wrap;
		min-width: 14.6875rem;

		&--align-center {
			display: flex;
			align-items: center;
		}

		.input-radio {
			flex: 1;
		}
	}
}

// Teams
.teams {
	padding: 6.25rem 0;

	&__list {
		padding: 0;
		list-style: none;
	}

	&__item {
		display: flex;
		flex-direction: column;
		min-width: 20rem;
		flex-basis: 50%;
		flex-shrink: 1;
		flex-grow: 1;
	}

	&__item-container {
		margin: 0;
		align-items: center;
		height: 100%;
		padding-top: $padding-sm;

		@include respond-above(lg) {
			padding-top: $padding-md;
		}

		> * {
			margin-bottom: $padding-sm!important;

			@include respond-above(lg) {
				margin-bottom: $padding-md!important;
			}
		}
	}

	&__heading {
		margin-bottom: 0.625rem;
		> span {
			display: block;
			font-size: 1rem;
		}
	}

	&__description {
		font-size: 1.125rem;

		small {
			display: block;
			font-style: italic;
		}
	}

	&__logo {
		order: -1;
		width: 100%;
		min-width: 6.25rem + $padding-md * 2;
		max-width: 6.25rem + $padding-md * 2;

		picture {
			max-width: 100%;

			> img {
				max-width: inherit;
				height: auto;
			}
		}
	}
}

.footer {
	color: white;
	padding: $padding-sm 0;

	@include respond-above(lg) {
		padding: $padding-md 0;
	}

	&__wrapper {
		justify-content: center;
	}

	&__year {
		margin-bottom: 0;
	}
}
